<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
    <a href="/">
        <navbar>logo</navbar>
    </a>

    <form method="get" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search Room...">

    </form>
    {% if request.user.is_authenticated %}
    <p>hello {{ request.user }}</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'login' %}">login</a>
    {% endif %}

    <hr>
</body>
</html>